.add-remove-button {
  position: absolute;
  top: 5px;
  right: 0;
}

.travel-way-point {
  border-bottom: 1px solid $color-menu-border;
  position: relative;
  padding: 5px 25px 5px 0;
}

.small-coordinates {
  color: #666;
}